*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #10141b;
  height: 100vh;
  width: 100%;
  color: #eff5ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#txt {
  position: absolute;
  top: .5em;
  right: 50%;
  transform: translateX(50%);
}

.high {
  color: rgb(255, 171, 160);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.container {
  position: fixed;
  overflow: hidden;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.container h1 {
  color: whitesmoke;
  z-index: 10;
  font-size: 3.25rem;
  text-align: center;
}
.container h1 span {
  color: whitesmoke;
  font-family: "wilds";
  z-index: 10;
  font-size: 5rem;
  text-align: center;
}
.contheader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  top: 7.5rem;
  line-height: 4rem;
  position: absolute;
}
.contheader img {
  position: absolute;
  transform: translateY(-80%);
}