*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #10141b;
  height: 100vh;
  width: 100%;
  color: #eff5ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 4rem;
}
p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  width: 60rch;
  text-align: justify;
}

.high {
  color: rgb(255, 171, 160);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
