@font-face {
  font-family: outer;
  src: url("./fonts/FontsFree-Net-ITCAvantGardeStdMd.ttf");
}
@font-face {
  font-family: wilds;
  src: url("./fonts/itc-serif-gothic-regular-588cef4e7134b.otf");
}

body {
  margin: 0;
  font-family: outer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
